@use 'sass:math';

@import './base/_mixins';
@import './base/_fonts';
@import './base/_null-style';

//=========================================================================================================================================================
// Общие параметры
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
// Общие стили

.section-title {
}

.main-btn {
	border-radius: 55px;
	border: 1.4px solid #458ff6;
	color: #458ff6;
	font-family: 'Mulish';
	font-size: 18px;
	font-weight: 700;
	line-height: 60px;
}

.content-title {
	color: #462e6a;
	font-family: 'Mulish';
	font-size: 36px;
	font-weight: 700;
	line-height: 56px;
}

.content-text {
	color: #7d7987;
	font-family: 'Mulish';
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

//=========================================================================================================================================================
// Блоки
@import './_header';
@import './_main';
@import './_footer';
